<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="common/header.html"></header>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="@{${bdView.title} + ' - ' + ${bdView.writer}}"></h5>
            <p class="card-text">
                <small class="text-muted" th:text="${#temporals.format(bdView.regdt, 'yyyy-MM-dd HH:mm')}"></small>
            </p>
            <p class="card-text" th:text="${bdView.content}"></p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <a class="btn btn-light" th:href="@{'/'}" role="button">목록</a>
        </div>
        <div class="col-auto">
            <a class="btn btn-info" th:href="@{'/edit?bdId=' + ${bdView.id}}" role="button">수정</a>
        </div>
        <div class="col-auto">
            <form id="delete-form" th:action="@{'/delete?bdId=' + ${bdView.id}}" method="post">
                <div th:switch="${bdView.delfl}">
                    <input th:case="'Y'" type="hidden" name="mode" value="restore"/>
                    <input th:case="'N'" type="hidden" name="mode" value="delete"/>
                </div>
                <div th:switch="${bdView.delfl}">
                    <button th:case="'Y'" type="submit" id="restore-btn" class="btn btn-success">복구</button>
                    <button th:case="'N'" type="submit" id="delete-btn" class="btn btn-danger">삭제</button>
                </div>
            </form>
        </div>
    </div>
    <hr />

    <div class="mt-3">
        <form action="/reply" method="post">
            <input type="hidden" name="id" th:value="${bdView.id}">
            <div class="form-group row">
                <label for="inputwWiter" class="col-sm-2 col-form-label"><strong>작성자</strong></label>
                <div class="col-sm-10">
                    <input type="text" name="writer" class="form-control" id="inputwWiter" maxlength="10" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputContent" class="col-sm-2 col-form-label"><strong>댓글내용</strong></label>
                <div class="col-sm-10">
                    <textarea type="text" name="content" class="form-control" id="inputContent" maxlength="100" required=""></textarea>
                </div>
            </div>

            <button type="submit" id="reply-btn" class="btn btn-success">등록</button>
        </form>
    </div>
    <hr />

    <div th:insert="board/reply.list.html"></div>

</div>
<footer th:insert="common/footer.html"></footer>
</body>
</html>